.text {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* this section is for index. two containers, with rows */

.headerbar {
    height: 50px;
    
}

.aboutme {
    color: #777777;
}

.img-thumbnail {
    margin-right: 30px;
}

/*class vs id*/

.button {
    background-color: #4aaaa5;
    color: white;
}

.name {
    color: white;
    background-color: #4aaaa5;
    
}
.btn-group {
    float: right;
    color: #777777;

}

/*below is for contact page which only has one form container*/

.contactcontainer {
    background-color: green; 
      max-width: 800px;

}
